<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>answer</key>
		<string>钢铁侠</string>
		<key>icon</key>
		<string>1.jpg</string>
		<key>title</key>
		<string>我头歪了你见过我没</string>
		<key>options</key>
		<array>
			<string>绿</string>
			<string>奥</string>
			<string>人</string>
			<string>钢</string>
			<string>巨</string>
			<string>曼</string>
			<string>铁</string>
			<string>特</string>
			<string>铠</string>
			<string>假</string>
			<string>空</string>
			<string>甲</string>
			<string>龙</string>
			<string>侠</string>
			<string>面</string>
			<string>士</string>
			<string>火</string>
			<string>女</string>
			<string>蜘</string>
			<string>电</string>
			<string>刀</string>
		</array>
	</dict>
	<dict>
		<key>answer</key>
		<string>习近平</string>
		<key>icon</key>
		<string>2.jpg</string>
		<key>title</key>
		<string>中国领导人</string>
		<key>options</key>
		<array>
			<string>毛</string>
			<string>奥</string>
			<string>东</string>
			<string>钢</string>
			<string>巨</string>
			<string>大</string>
			<string>铁</string>
			<string>彭</string>
			<string>泽</string>
			<string>假</string>
			<string>邓</string>
			<string>近</string>
			<string>龙</string>
			<string>侠</string>
			<string>习</string>
			<string>士</string>
			<string>丽</string>
			<string>平</string>
			<string>蜘</string>
			<string>小</string>
			<string>媛</string>
		</array>
	</dict>
	<dict>
		<key>answer</key>
		<string>海绵宝宝</string>
		<key>icon</key>
		<string>3.jpg</string>
		<key>title</key>
		<string>我和派大星是好朋友</string>
		<key>options</key>
		<array>
			<string>派</string>
			<string>奥</string>
			<string>人</string>
			<string>宝</string>
			<string>巨</string>
			<string>曼</string>
			<string>铁</string>
			<string>特</string>
			<string>海</string>
			<string>假</string>
			<string>空</string>
			<string>甲</string>
			<string>棉</string>
			<string>侠</string>
			<string>面</string>
			<string>士</string>
			<string>火</string>
			<string>女</string>
			<string>宝</string>
			<string>电</string>
			<string>刀</string>
		</array>
	</dict>
	<dict>
		<key>answer</key>
		<string>派大星</string>
		<key>icon</key>
		<string>5.jpg</string>
		<key>title</key>
		<string>我和海绵宝宝是好朋友</string>
		<key>options</key>
		<array>
			<string>绿</string>
			<string>奥</string>
			<string>派</string>
			<string>钢</string>
			<string>巨</string>
			<string>曼</string>
			<string>铁</string>
			<string>特</string>
			<string>铠</string>
			<string>大</string>
			<string>空</string>
			<string>甲</string>
			<string>龙</string>
			<string>侠</string>
			<string>面</string>
			<string>士</string>
			<string>火</string>
			<string>星</string>
			<string>蜘</string>
			<string>电</string>
			<string>刀</string>
		</array>
	</dict>
	<dict>
		<key>answer</key>
		<string>无脸男</string>
		<key>icon</key>
		<string>7.jpg</string>
		<key>title</key>
		<string>千与千寻里面的哦</string>
		<key>options</key>
		<array>
			<string>无</string>
			<string>奥</string>
			<string>人</string>
			<string>钢</string>
			<string>巨</string>
			<string>曼</string>
			<string>铁</string>
			<string>特</string>
			<string>铠</string>
			<string>脸</string>
			<string>空</string>
			<string>甲</string>
			<string>龙</string>
			<string>侠</string>
			<string>面</string>
			<string>男</string>
			<string>火</string>
			<string>女</string>
			<string>蜘</string>
			<string>电</string>
			<string>刀</string>
		</array>
	</dict>
	<dict>
		<key>answer</key>
		<string>鸟叔</string>
		<key>icon</key>
		<string>10.jpg</string>
		<key>title</key>
		<string>江南style</string>
		<key>options</key>
		<array>
			<string>叔</string>
			<string>奥</string>
			<string>林</string>
			<string>钢</string>
			<string>巨</string>
			<string>曼</string>
			<string>铁</string>
			<string>俊</string>
			<string>铠</string>
			<string>假</string>
			<string>空</string>
			<string>甲</string>
			<string>龙</string>
			<string>鸟</string>
			<string>面</string>
			<string>士</string>
			<string>火</string>
			<string>女</string>
			<string>杰</string>
			<string>电</string>
			<string>刀</string>
		</array>
	</dict>
	<dict>
		<key>answer</key>
		<string>葫芦娃</string>
		<key>icon</key>
		<string>12.jpg</string>
		<key>title</key>
		<string>我有一个爷爷6个兄弟</string>
		<key>options</key>
		<array>
			<string>绿</string>
			<string>葫</string>
			<string>人</string>
			<string>钢</string>
			<string>巨</string>
			<string>曼</string>
			<string>铁</string>
			<string>特</string>
			<string>铠</string>
			<string>假</string>
			<string>娃</string>
			<string>甲</string>
			<string>龙</string>
			<string>侠</string>
			<string>面</string>
			<string>士</string>
			<string>芦</string>
			<string>女</string>
			<string>蜘</string>
			<string>电</string>
			<string>刀</string>
		</array>
	</dict>
</array>
</plist>
